@import './index.scss';

// Container
.container{
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

// END Container

// Titles
h3{
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: $DarkColor;
  margin-bottom: 16px;
}
h4{
  font-weight: 600;
  font-size: 32px;
  color: $DarkColor;
  margin-bottom: 16px;
}

// END Titles


// Adaptive
@media screen and (max-width:1280px) {
  .container{
      width: 100%;
      padding: 0 40px;
  }
}
@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {
  .container{
      padding: 0 20px;
  }
  h3{
    font-size: 28px;
  }
}
@media screen and (max-width:650px) {}

// END Adaptive